body{
    background-image: linear-gradient(90deg, white, #2eacd4);
    font-family: 'Times New Roman', Times, serif;
}

#parafunc{;

}

#parafunc2{
    color: rgb(#ff00ff);
    font-style: italic;
    text-decoration: overline;
}

#countdownStatus{
    color: red;
    font-style: oblique;
    font-size: 150%;
}